body{
    background: #f5f5f5;
    margin-top:20px;
}

.ui-w-80 {
    width: 80px !important;
    height: auto;
}

.btn-default {
    border-color: rgba(24,28,33,0.1);
    background: rgba(0,0,0,0);
    color: #4E5155;
}

label.btn {
    margin-bottom: 0;
}

.btn-outline-primary {
    border-color: #26B4FF;
    background: transparent;
    color: #26B4FF;
}

.btn {
    cursor: pointer;
}

.text-light {
    color: #babbbc !important;
}

.btn-facebook {
    border-color: rgba(202, 7, 7, 0);
    background: #c12b2b;
    color: rgb(210, 31, 31);
}

.btn-instagram {
    border-color: rgba(0,0,0,0);
    background: #000;
    color: #fff;
}

.card {
    background-clip: padding-box;
    box-shadow: 0 1px 4px rgba(24,28,33,0.012);
}

.row-bordered {
    overflow: hidden;
}

.account-settings-fileinput {
    position: absolute;
    visibility: hidden;
    width: 1px;
    height: 1px;
    opacity: 0;
}
.account-settings-links .list-group-item.active {
    font-weight: bold !important;
}
html:not(.dark-style) .account-settings-links .list-group-item.active {
    background: transparent !important;
}
.account-settings-multiselect ~ .select2-container {
    width: 100% !important;
}
.light-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}
.light-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
}
.material-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}
.material-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
}
.dark-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(255, 255, 255, 0.03) !important;
}
.dark-style .account-settings-links .list-group-item.active {
    color: #fff !important;
}
.light-style .account-settings-links .list-group-item.active {
    color: #4E5155 !important;
}
.light-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(24,28,33,0.03) !important;
}

/*  MY REVIEWS */

    body{
        margin-top:20px;
        background:#eee;
    }
    .review-list ul li .left span {
         width: 32px;
         height: 32px;
         display: inline-block;
    }
     .review-list ul li .left {
         flex: none;
         max-width: none;
         margin: 0 10px 0 0;
    }
     .review-list ul li .left span img {
         border-radius: 50%;
    }
     .review-list ul li .right h4 {
         font-size: 16px;
         margin: 0;
         display: flex;
    }
     .review-list ul li .right h4 .gig-rating {
         display: flex;
         align-items: center;
         margin-left: 10px;
         color: #ffbf00;
    }
     .review-list ul li .right h4 .gig-rating svg {
         margin: 0 4px 0 0px;
    }
     .country .country-flag {
         width: 16px;
         height: 16px;
         vertical-align: text-bottom;
         margin: 0 7px 0 0px;
         border: 1px solid #fff;
         border-radius: 50px;
         box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    }
     .country .country-name {
         color: #95979d;
         font-size: 13px;
         font-weight: 600;
    }
     .review-list ul li {
         border-bottom: 1px solid #dadbdd;
         padding: 0 0 30px;
         margin: 0 0 30px;
    }
     .review-list ul li .right {
         flex: auto;
    }
     .review-list ul li .review-description {
         margin: 20px 0 0;
    }
     .review-list ul li .review-description p {
         font-size: 14px;
         margin: 0;
    }
     .review-list ul li .publish {
         font-size: 13px;
         color: #95979d;
    }
    
    .review-section h4 {
         font-size: 20px;
         color: #222325;
         font-weight: 700;
    }
     .review-section .stars-counters tr .stars-filter.fit-button {
         padding: 6px;
         border: none;
         color: #4a73e8;
         text-align: left;
    }
     .review-section .fit-progressbar-bar .fit-progressbar-background {
         position: relative;
         height: 8px;
         background: #efeff0;
         -webkit-box-flex: 1;
         -ms-flex-positive: 1;
         flex-grow: 1;
         box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
         background-color: #ffffff;
        ;
         border-radius: 999px;
    }
     .review-section .stars-counters tr .star-progress-bar .progress-fill {
         background-color: #ffb33e;
    }
     .review-section .fit-progressbar-bar .progress-fill {
         background: #2cdd9b;
         background-color: rgb(29, 191, 115);
         height: 100%;
         position: absolute;
         left: 0;
         z-index: 1;
         border-radius: 999px;
    }
     .review-section .fit-progressbar-bar {
         display: flex;
         align-items: center;
    }
     .review-section .stars-counters td {
         white-space: nowrap;
    }
     .review-section .stars-counters tr .progress-bar-container {
         width: 100%;
         padding: 0 10px 0 6px;
         margin: auto;
    }
     .ranking h6 {
         font-weight: 600;
         padding-bottom: 16px;
    }
     .ranking li {
         display: flex;
         justify-content: space-between;
         color: #95979d;
         padding-bottom: 8px;
    }
     .review-section .stars-counters td.star-num {
         color: #4a73e8;
    }
     .ranking li>span {
         color: #62646a;
         white-space: nowrap;
         margin-left: 12px;
    }
     .review-section {
         border-bottom: 1px solid #dadbdd;
         padding-bottom: 24px;
         margin-bottom: 34px;
         padding-top: 64px;
    }
     .review-section select, .review-section .select2-container {
         width: 188px !important;
         border-radius: 3px;
    }
    ul, ul li {
        list-style: none;
        margin: 0px;
    }
    .helpful-thumbs, .helpful-thumb {
        display: flex;
        align-items: center;
        font-weight: 700;
    }





/* BOOTSTRAP FOOTER */

.footer-basic {
    padding:40px 0;
    background-color:#EDE6D3;
    color:#4b4c4d;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }

  body{margin-top:20px;
background:#eee;
}
.review-list ul li .left span {
     width: 32px;
     height: 32px;
     display: inline-block;
}
 .review-list ul li .left {
     flex: none;
     max-width: none;
     margin: 0 10px 0 0;
}
 .review-list ul li .left span img {
     border-radius: 50%;
}
 .review-list ul li .right h4 {
     font-size: 16px;
     margin: 0;
     display: flex;
}
 .review-list ul li .right h4 .gig-rating {
     display: flex;
     align-items: center;
     margin-left: 10px;
     color: #ffbf00;
}
 .review-list ul li .right h4 .gig-rating svg {
     margin: 0 4px 0 0px;
}
 .country .country-flag {
     width: 16px;
     height: 16px;
     vertical-align: text-bottom;
     margin: 0 7px 0 0px;
     border: 1px solid #fff;
     border-radius: 50px;
     box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
 .country .country-name {
     color: #95979d;
     font-size: 13px;
     font-weight: 600;
}
 .review-list ul li {
     border-bottom: 1px solid #dadbdd;
     padding: 0 0 30px;
     margin: 0 0 30px;
}
 .review-list ul li .right {
     flex: auto;
}
 .review-list ul li .review-description {
     margin: 20px 0 0;
}
 .review-list ul li .review-description p {
     font-size: 14px;
     margin: 0;
}
 .review-list ul li .publish {
     font-size: 13px;
     color: #95979d;
}

.review-section h4 {
     font-size: 20px;
     color: #222325;
     font-weight: 700;
}
 .review-section .stars-counters tr .stars-filter.fit-button {
     padding: 6px;
     border: none;
     color: #4a73e8;
     text-align: left;
}
 .review-section .fit-progressbar-bar .fit-progressbar-background {
     position: relative;
     height: 8px;
     background: #efeff0;
     -webkit-box-flex: 1;
     -ms-flex-positive: 1;
     flex-grow: 1;
     box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
     background-color: #ffffff;
    ;
     border-radius: 999px;
}
 .review-section .stars-counters tr .star-progress-bar .progress-fill {
     background-color: #ffb33e;
}
 .review-section .fit-progressbar-bar .progress-fill {
     background: #2cdd9b;
     background-color: rgb(29, 191, 115);
     height: 100%;
     position: absolute;
     left: 0;
     z-index: 1;
     border-radius: 999px;
}
 .review-section .fit-progressbar-bar {
     display: flex;
     align-items: center;
}
 .review-section .stars-counters td {
     white-space: nowrap;
}
 .review-section .stars-counters tr .progress-bar-container {
     width: 100%;
     padding: 0 10px 0 6px;
     margin: auto;
}
 .ranking h6 {
     font-weight: 600;
     padding-bottom: 16px;
}
 .ranking li {
     display: flex;
     justify-content: space-between;
     color: #95979d;
     padding-bottom: 8px;
}
 .review-section .stars-counters td.star-num {
     color: #4a73e8;
}
 .ranking li>span {
     color: #62646a;
     white-space: nowrap;
     margin-left: 12px;
}
 .review-section {
     border-bottom: 1px solid #dadbdd;
     padding-bottom: 24px;
     margin-bottom: 34px;
     padding-top: 64px;
}
 .review-section select, .review-section .select2-container {
     width: 188px !important;
     border-radius: 3px;
}
ul, ul li {
    list-style: none;
    margin: 0px;
}
.helpful-thumbs, .helpful-thumb {
    display: flex;
    align-items: center;
    font-weight: 700;
}