<div class="dbimage">
    <nav class="navbar navbar-expand-lg navbar-white bg-white">
    <div class="container"> 
          <a href="#"><img href="#" src="../static/Assets/Logo.png" width="200" height="32"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </nav>
     </div>
     <title>Contact Us</title>
     
<body>
<link rel="stylesheet" href="../static/css/contactus.css"> 
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="contact-box center-version">
                <a href="#profile.html">
                    <img alt="image" class="img-circle" src="https://scontent.fmnl9-1.fna.fbcdn.net/v/t39.30808-6/274343228_4846509112099383_1490556878293261555_n.jpg?stp=c0.27.206.206a_dst-jpg_p206x206&_nc_cat=108&ccb=1-7&_nc_sid=da31f3&_nc_eui2=AeFTcbCKhPpTS_c9Ot72kH2BOKMwINkVxis4ozAg2RXGK_CF_rghK3GZ6VvGCdli0xuZW8Kk6IPPcm3T6jZ021Zs&_nc_ohc=2BuiWRkrjaAAX-vQCr6&tn=vix2uj-IVaXWA3zx&_nc_ht=scontent.fmnl9-1.fna&oh=00_AT8D8n45BnWe4cYWSiCttHSx4xsOhugKHcGsaFAFbBQB4A&oe=62F0C5F2">
                    <h3 class="m-b-xs"><strong>Charles Henricks Dela Peña</strong></h3>
        
                    <div class="font-bold">Senior Developer</div>
                    <address class="m-t-md">
                        <strong>Address:</strong><br>
                        Minglanilla, Cebu<br>
                        <abbr title="Phone">Phone:</abbr> 09950736917
                    </address>
        
                </a>
                <div class="contact-box-footer">
                    <div class="m-t-xs btn-group">
                        <a class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call </a>
                        <a class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Email</a>
                        <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a>
                    </div>
                </div>
        
            </div>
        </div>
        <div class="col-md-3">
            <div class="contact-box center-version">
                <a href="#profile.html">
                    <img alt="image" class="img-circle" src="https://scontent.fmnl9-3.fna.fbcdn.net/v/t39.30808-6/290820924_3175217399401814_3977055620642364087_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeG9efNJZRsh8W_s5aRZzCNq4dGS4yfJjGbh0ZLjJ8mMZscWKvU_P3hVKgCzTKirB_AqgiSHiddZU0iifls-Yrwv&_nc_ohc=k9b7fXcbjhAAX9UJX4G&_nc_ht=scontent.fmnl9-3.fna&oh=00_AT-Wbqdat8y2SGOPrYhDdZdfjBEqzKlIRtaBz1gHmkXllA&oe=62F18E0E">
                    <h3 class="m-b-xs"><strong>Neil Melvin Diaz</strong></h3>
                    <div class="font-bold">Back-End Developer</div>
                    <address class="m-t-md">
                        <strong>Address:</strong><br>
                         Room 403, Building 21, Phase 2, Deca Homes Tisa<br>
                         Labangon, Cebu City, Cebu, Philippines<br>
                        <abbr title="Phone">Phone:</abbr> 099115440159
                    </address>
        
                </a>
                <div class="contact-box-footer">
                    <div class="m-t-xs btn-group">
                        <a class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call </a>
                        <a class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Email</a>
                        <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a>
                    </div>
                </div>
        
            </div>
        </div>
        <div class="col-md-3">
            <div class="contact-box center-version">
                <a href="#profile.html">
                    <img alt="image" class="img-circle" src="https://scontent.fmnl4-4.fna.fbcdn.net/v/t1.6435-9/32722753_788215648033599_1131689209225019392_n.jpg?_nc_cat=102&amp;ccb=1-7&amp;_nc_sid=174925&amp;_nc_eui2=AeHV4rVLTIFS8_5Gu4HmCtYFj1SvcDq0LoWPVK9wOrQuhd1yxsGtW8N9P6AXmGLvZt9BK0CefdQ05rB5k1E2LFwG&amp;_nc_ohc=aMaloBfY370AX_JD7p-&amp;tn=vix2uj-IVaXWA3zx&amp;_nc_ht=scontent.fmnl4-4.fna&amp;oh=00_AT-QYFdSyipK1INhjR8kKq6A3OctPcJDNxnOFDq5DaCENA&amp;oe=6313491E">
                    <h3 class="m-b-xs"><strong>Joseph Lloyd Marumas</strong></h3>
        
                    <div class="font-bold">Front-End Developer</div>
                    <address class="m-t-md">
                        <strong>Address:</strong><br>
                        795 Folsom Ave, Suite 600<br>
                        San Francisco, CA 94107<br>
                        <abbr title="Phone">Phone:</abbr> 09760249922
                    </address>
        
                </a>
                <div class="contact-box-footer">
                    <div class="m-t-xs btn-group">
                        <a class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call </a>
                        <a class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Email</a>
                        <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a>
                    </div>
                </div>
        
            </div>
        </div>
        <div class="col-md-3">
            <div class="contact-box center-version">
                <a href="#profile.html">
                    <img alt="image" class="img-circle" src="https://scontent.fmnl9-1.fna.fbcdn.net/v/t1.6435-9/118138380_2693873084263200_2163673151306310589_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=174925&_nc_eui2=AeHRNpfpgMWiQ4nFmvz9z-8_OIGVe7My1yA4gZV7szLXIJQX418sFvOg2PZeg4Ahle5mvy-2c2h7LS30bnO4oxp5&_nc_ohc=_-09f632s1sAX9nNDiG&_nc_ht=scontent.fmnl9-1.fna&oh=00_AT8dUDMvE54NQTKIHPGlIs0RPZL297-9U_gX6S0aBVW5yw&oe=6313953D">
                    <h3 class="m-b-xs"><strong>Gabriel Rolando Rosell</strong></h3>
        
                    <div class="font-bold">Software Testing & Documentation</div>
                    <address class="m-t-md">
                        <strong>Address:</strong><br>
                        Ayala Business Park, Cebu City <br>
                        <abbr title="Phone">Phone:</abbr> 09205253967
                    </address>
        
                </a>
                <div class="contact-box-footer">
                    <div class="m-t-xs btn-group">
                        <a class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call </a>
                        <a class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Email</a>
                        <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a>
                    </div>
                </div>
        
            </div>
        </div>
    </div>
</div>
</body>
