<!doctype html>

<html lang="en">
<title>RentNaTeknoy</title>
<head>
        <link rel="stylesheet" href="../static/css/home.css" type="text/css"> 
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

    
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
    
</head>

    

<body style="height: 1500px;;">

    <!--all code start from here-->
    

    <div class="bgimage">
    <nav class="navbar navbar-inverse navbar-fixed-top bg-white">
    <div class="container-fluid">
        <div class = "navbar-header">
          <a class = "navbar-brand" href="#">
            <img href="#" src="../static/Assets/Logo.png" width="200" height="32">
        </a>    
        </div>      
        
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        
          </button>
          <button class="favorite styled"
          type="button">
          <a style class="styled" id="Sign-in" href="{{url_for('Forms.SigninPage')}}">SIGN IN</a>
          </button>
        
      
      </nav>

      
      <div class="container text-center text-white headerset">
        <h1 style="font-family: Montserrat; font-weight: bolder;" >HELLO, TECHNOLOGIANS!</h1>
        <h2 style="font-family: Lato; font-kerning:   auto; ">Choosing an apartment just got easier!</h2>
      </div> 
      </div>
      <!--Pop up Box for Sign In-->
      </head>


<!--DESCRIPTIONNNN-->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">     
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="row">
                    <div class="col-sm-12 col-lg-4">
                        <div class="card-body">
                            <h3 class="font-medium mt-5 mb-0" style="font-family: Montserrat;">Search for rental listings to your desired distance from the university.</h3><br><br>
                            <h3 class="card-title" style="font-family: Lato;">Read student reviews</h3>
                            <div class="image-box mt-4 mb-4">
                                <a href="#" class="mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Simmons"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="rounded-circle" width="45" alt="user"></a>
                                <a href="#" class="mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Fitz"><img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="rounded-circle" width="45" alt="user"></a>
                                <a href="#" class="mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Phil"><img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="rounded-circle" width="45" alt="user"></a>
                                <a href="#" class="mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Melinda"><img src="https://bootdey.com/img/Content/avatar/avatar4.png" class="rounded-circle" width="45" alt="user"></a>
                            </div>
                            <h4 class="card-subtitle" style="font-family: Lato;">Write an anonymous review.</h4>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-8 border-left">
                        <div class="card-body">
                            <ul class="list-style-none">
                                <li class="mt-5">
                                    <div class="d-flex align-items-center">
                                        <i class="fa fa-home display-5 text-danger"></i>
                                        <div class="p-2">
                                            <h5 class="mb-0" style="font-family: Montserrat;">Rate the Room</h5>
                                            <span class="text-muted" style="font-family: Lato;">Consider the room's size, cleanliness, and availability of natural light.</span></div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar bg-danger" role="progressbar" style="width: 77%" aria-valuenow="77" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </li>
                                <li class="mt-5">
                                    <div class="d-flex align-items-center">
                                        <i class="fa fa-building-o display-5 text-danger"></i>
                                        <div class="p-2">
                                            <h5 class="mb-0" style = "font-family: Montserrat;">Rate the Building</h5>
                                            <span class="text-muted" style="font-family: Lato;">Consider the building's amenities, cleanliness, and age.</span></div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar bg-danger" role="progressbar" style="width: 73%" aria-valuenow="73" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </li>
                                <li class="mt-5 mb-5">
                                    <div class="d-flex align-items-center">
                                        <i class="fa fa-bath display-5 text-danger"></i>
                                        <div class="p-2">
                                            <h5 class="mb-0" style="font-family: Montserrat;" >Rate the Bathroom</h5>
                                            <span class="text-muted" style="font-family: Lato;">Consider the bathroom's cleanliness, moderness, and features.</span></div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar bg-danger" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </li>
                                <li class="mt-5 mb-5">
                                  <div class="d-flex align-items-center">
                                      <i class="fa fa-location-arrow display-5 text-danger"></i>
                                      <div class="p-2">
                                          <h5 class="mb-0" style="font-family: Montserrat;">Rate the Location</h5>
                                          <span class="text-muted" style="font-family: Lato;">Consider the location's convenience and safety. </span></div>
                                  </div>
                                  <div class="progress">
                                      <div class="progress-bar bg-danger" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                              </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

<!--    MOST REVIEWED RENTAL-->

<h2 style="font-family: Montserrat;">&nbsp;&nbsp;Most Reviewed Rental<br></h2>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container"> 
<div class="row bootstrap snippets bootdeys"> 
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="card">
            <div class="thumbnail" data-bs-toggle="modal" data-bs-target="#myModal">
                <img width="1920" height="1080" src="https://cebudreaminvestment.com/wp-content/uploads/2019/06/b2.jpg" alt="thumbnail">
                <a href="#" class="thumb-cover"></a>
                <div class="details">
                    <div class="authors-container">
                        <div class="author">
                            <a class="card-user account-photo  account-product-owner">
                            <div class="mask">
                                <img class="photo" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Thumb" >
                            </div>
                            </a>
                        </div>
                    </div>
                    <div class="numbers">
                        <b class="downloads"><i class="fa fa-arrow-circle-o-down"></i> 3,461</b>
                        <b class="comments-icon"><i class="fa fa-comment"></i></b>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

            
            <div class="card-info" data-bs-toggle="modal" data-bs-target="#myModal">
                <a href="#">
                    <h3 >Mambaling
                        <div class="time pull-right">Php3000</div>
                    </h3>
                    <div class="circle-red" data-bs-toggle="modal" data-bs-target="#myModal"><i class="fa fa-circle-o"></i></div>
                    <p>Gated, w/ own Bathroom</p>
                </a>

                <div class="modal" id="myModal">
                    <div class="modal-dialog">
                      <div class="modal-content">
                  
                        <!-- Modal Header -->
                        <div class="modal-header">
                          <h4 class="modal-title">Notice</h4>
                          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                  
                        <!-- Modal body -->
                        <div class="modal-body">
                          To fully access the website's feature, you need to <a href = "{{url_for('Forms.SigninPage')}}" style= "color: red;" > sign in </a> first
                        </div>
                  
                        <!-- Modal footer -->
                        <div class="modal-footer">
                          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        </div>
                  
                      </div>
                    </div>
                  </div>
            </div>
            

            



        </div>
    </div>
    
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="card">
            <div class="thumbnail" data-bs-toggle="modal" data-bs-target="#myModal">
                <img width="360" height="270" src="https://lh5.googleusercontent.com/p/AF1QipOGPfixEK2FNpiyN_NA3F7EAOmTPt7xZkQOIfHO=w408-h306-k-no" alt="thumbnail">
                <a href="#" class="thumb-cover"></a>
                <div class="details">
                    <div class="authors-container">
                        <div class="author">
                            <a class="card-user account-photo  account-product-owner">
                                <div class="mask">
                                    <img class="photo" src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="Thumb">
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="numbers">
                        <b class="downloads"><i class="fa fa-arrow-circle-o-down"></i> 162</b>
                        <b class="comments-icon"><i class="fa fa-comment"></i></b>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="card-info" data-bs-toggle="modal" data-bs-target="#myModal">
                <a href="#">
                    <h3>Basak<div class="time pull-right">Php50000</div></h3>
                    <div class="circle-blue" data-bs-toggle="modal" data-bs-target="#myModal"><i class="fa fa-circle-o"></i></div>
                    <p>Fully Furnished</p>
                </a>
            </div>
        </div>
    </div>
    
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="card">
            <div class="thumbnail" data-bs-toggle="modal" data-bs-target="#myModal">
                <img width="360" height="270" src="https://pix10.agoda.net/hotelImages/517/517575/517575_13092013560015769846.jpg?ca=0&ce=1&s=1024x768" alt="thumbnail">
                <a href="#" class="thumb-cover"></a>
                <div class="details">
                    <div class="authors-container">
                        <div class="author">
                            <a class="card-user account-photo  account-product-owner">
                                <div class="mask">
                                    <img class="photo" src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="Thumb">
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="numbers">
                        <b class="downloads"><i class="fa fa-arrow-circle-o-down"></i> 621</b>
                        <b class="comments-icon"><i class="fa fa-comment"></i></b>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="card-info" data-bs-toggle="modal" data-bs-target="#myModal">
                <a href="#">
                    <h3>Tisa
                        <div class="time pull-right">Php8000</div>
                    </h3>
                    <div class="circle-red" data-bs-toggle="modal" data-bs-target="#myModal"><i class="fa fa-circle-o"></i></div>
                    <p>Accesible, Fully Furnished</p>
                </a>
            </div>
        </div>
    </div>
</div>
</div>




     <!--Recent reviews-->
  <section class="recentreviews bg-transparent">
    <h2 style="font-family: Montserrat;">&nbsp;&nbsp;Recent Reviews</h2>
  <div class="wrapper">
    <div class="box">
      <i class="fas fa-quote-left quote"></i>
      <p>Website is efficient but need some improvements.Updates is much appreciated!</p>
      <div class="content">
        <div class="info">
          <div class="name" style="font-family: Montserrat;">Anonymous</div>
          <div class="job">Student</div>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
          </div>
        </div>
        <div class="image">
          <img src="../static/Assets/business-person.png" alt="">
        </div>
      </div>
    </div>
    <div class="box">
      <i class="fas fa-quote-left quote"></i>
      <p>Convience of the website for new users is top-notch. Looking forward for further updates.</p>
      <div class="content">
        <div class="info">
          <div class="name">Anonymous</div>
          <div class="job">Student</div>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i> 
            <i class="far fa-star"></i>
          </div>
        </div>
        <div class="image">
          <img src="../static/Assets/business-person.png" alt="">
        </div>
      </div>
    </div>
    <div class="box">
      <i class="fas fa-quote-left  quote"></i>
      <p>Website is user-friendly and is very useful especially to students that are new in CIT. Much recommended website for your rental listing needs.</p>
      <div class="content">
        <div class="info">
          <div class="name">Anonymous</div>
          <div class="job">Student</div>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
          </div>
        </div>
        <div class="image">
          <img src="../static/Assets/business-person.png"" alt="">
        </div>
      </div>
    </div>      
  </div>


  
</body>
</html>
</section>
    
     <!--   FOOTER          -->
     <div class="footer-basic">
      <footer>
        <p style="text-align:center;"><a href="#"><img  src="../static/Assets/Logo.png" width="200" height="32"></a></p>
          <ul class="list-inline">
              <li class="list-inline-item"><a href="{{url_for('Home.AboutPage')}}">About Us!</a></li>
              <li class="list-inline-item"><a href="{{url_for('Home.ContactUsPage')}}">Contact Us</a></li>
          </ul>
          <p class="pt-4 text-muted text-center"> All rights reserved. Copyright ©2022.</p> 
      </footer>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>

</body>
</html>